<div class="col-sm-3 grid <%= 'size' if @recipes && recipe == @recipes.first %>" id="recipe-<%= recipe.id %>">
	<div class="recipe" data-url="<%= named_url_for(recipe) %>">
		<%= image_tag large_image_path(recipe) %>
	  <div class="info">
			<%#= render 'ratings/rating', recipe: recipe %>
	    <%= content_tag :h4, recipe.name %>
	    <%= recipe.description %>
	  </div>
	  <div class="ingredients">
    	<strong>Ingredients</strong>
    	<br>
    	<%= render 'ingredients', recipe: recipe %>
    </div>
  </div>
</div>
