<div class="col-sm-3 grid <%= 'size' if @recipes && recipe == @recipes.first %>" id="recipe-<%= recipe.id %>">
	<div class="recipe">
	  <a href="<%= recipe.named_route %>">
	  	<% if recipe.image? %>
	  		<%= image_tag recipe.image.image.url(:large), class: "hover" %>
	  	<% else %>
	    	<%= image_tag "smoothie.png", class: "hover" %>
	    <% end %>
	  </a>
	  <%= render 'ratings/rating', recipe: recipe %>
	  <div class="info">
	    <%= content_tag :h4, link_to(recipe.name, recipe.named_route) if @recipes %>
	    <%= recipe.description %>
	  </div>
	  <div class="ingredients">
    	<strong>Ingredients</strong>
    	<br>
    	<%= render 'ingredients', recipe: recipe %>
    </div>
  </div>
</div>