<div class="col-sm-3 grid <%= 'size' if recipe == @recipes.first %>">
	<div class="recipe">
	  <a href="<%= recipe_path(recipe) + "/#{recipe.named_url}" %>">
	  	<% if recipe.image? %>
	  		<%= image_tag recipe.image.image.url(:large) %>
	  	<% else %>
	    	<%= image_tag "smoothie.png" %>
	    <% end %>
	  </a>
	  <div class="info">
	    <h4 ><%= link_to recipe.name, recipe_path(recipe) + "/#{recipe.named_url}" %></h4>
	    <%= recipe.description %>
	  </div>
	  <% if recipe.tags.any? %>
		  <div class="tags">
	    	<%= show_tags(recipe) %>
	    </div>
    <% end %>
  </div>
</div>