<div class="row">
	<div class="col-md-8">
		<div class="well">
			<%= render 'layouts/errors', object: @recipe if @recipe.errors.any? %>
			<%= nested_form_for @recipe, html: {id: "recipe-form"} do |f| %>
				<%= f.hidden_field :image_token %>
				<!--
				<div class="row">
					<div class="col-md-12">
						<%= render 'tags/tag_list', taggable: @recipe %>
					</div>
				</div>
				-->
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<%= f.hidden_field :user_id, value: current_user.id if @recipe.user_id.nil? %>
							<%= f.label :name %>
							<%= f.text_field :name, class: "form-control" %>
						</div>
					</div>
					<!--
					<div class="col-md-6">
						<%= render 'tags/tag_form', taggable: @recipe %>
					</div>
					-->
				</div>
				<div class="form-group">
					<%= f.label :description %>

					<%= f.text_area :description, class: "form-control", rows: 2 %>
				</div>
				<div class="form-group">
					<%= f.label :instructions, "Instructions (Optional)" %>
					<% if mobile_device? %>
						<br>
						<%= f.text_area :instructions, class: "form-control summernote" %>
					<% else %>
						<%= f.cktext_area :instructions, class: 'ckeditor', ckeditor: {toolbar: "Mini"} %>
					<% end %>
				</div>
				<%= label_tag :ingredients %>
				<br>
				<%= f.fields_for :measurements do |m| %>
					<div class="row form-group add-ingredient">
						<div class="col-sm-5 ingredient">
							<%= m.fields_for :ingredient, Ingredient.where(id: m.object.ingredient_id).first do |i| %>
								<%= i.text_field :name, class: "form-control ingredient-input", placeholder: "Name" %>
							<% end %>
							<%= m.hidden_field :ingredient_id, class: "ingredient-id" %>
						</div>
						<div class="col-sm-3">
							<%= m.text_field :amount, class: "form-control", placeholder: "Amount" %>
						</div>
						<div class="col-sm-3">
							<%= m.text_field :unit, class: "form-control", placeholder: "Unit" %>
						</div>
						<div class="col-sm-1">
							<%= m.link_to_remove raw(fa_icon "times-circle"), class: "btn-primary-bg hidden-xs" %>
							<%= m.link_to_remove "Remove", class: "btn btn-xs btn-danger visible-xs pull-right" %>
						</div>
					</div>
				<% end %>
				<%= f.link_to_add "Add Ingredient", :measurements, class: "btn btn-xs btn-primary" %>
				<br>
				<br>
				<div class='alert alert-info'>
					<p style='font-size: 14px'><strong>Tip</strong></p>
					<p style='font-size: 14px'>When adding ingredients, don't use descriptive words like "fresh" or "organic." Simply use the name of the ingredient. This keeps our database consistent and avoids duplicate entries for the same food.</p>
				</div>
				<div class='form-footer'>
					<%= render 'images/mobile', resource: @recipe %>
					<%= link_to "Cancel", :back, class: "btn btn-default" %>
					<%= f.submit "Save", class: "btn btn-success", data: {loading_text: "Saving..."} %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-md-4 text-center">
		<%= render 'images/imageable', resource: @recipe %>
		<br>
	</div>
</div>
