<div class="row">
	<div class="col-md-8">
		<div class="well">
			<%= render 'layouts/errors', object: @recipe if @recipe.errors.any? %>
			<%= nested_form_for @recipe, html: {id: "recipe-form"} do |f| %>
				<%= f.hidden_field :image_token %>
				<!--
				<div class="row">
					<div class="col-md-12">
						<%= render 'tags/tag_list', taggable: @recipe %>
					</div>
				</div>
				-->
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<%= f.hidden_field :user_id, value: current_user.id %>
							<%= f.label :name %>
							<%= f.text_field :name, class: "form-control" %>
						</div>
					</div>
					<!--
					<div class="col-md-6">
						<%= render 'tags/tag_form', taggable: @recipe %>
					</div>
					-->
				</div>
				<div class="form-group">
					<%= f.label :description %>

					<%= f.text_area :description, class: "form-control", rows: 2 %>
				</div>
				<div class="form-group">
					<%= f.label :instructions, "Instructions (Optional)" %>

					<%= f.text_area :instructions, class: "form-control instructions", rows: 5 %>
					<script>
						$(document).ready(function(){
					    $('.instructions').each(function(i, elem) {
					      $(elem).wysihtml5({'font-styles': false, 'image': false, 'link': false});
					    });
					  })
					</script>
				</div>
				<span id="ingredients" data-array="<%= Ingredient.all.to_json %>"></span>
				<%= label_tag :ingredients %>
				<br>
				<%= f.fields_for :measurements do |m| %>
					<div class="row form-group add-ingredient">
						<div class="col-xs-5 ingredient">
							<%= m.fields_for :ingredient, Ingredient.where(id: m.object.ingredient_id).first do |i| %>
								<%= i.text_field :name, class: "form-control ingredient-input", placeholder: "Name" %>
							<% end %>
							<%= m.hidden_field :ingredient_id, class: "ingredient-id" %>
						</div>
						<div class="col-xs-3">
							<%= m.text_field :amount, class: "form-control", placeholder: "Amt." %>
						</div>
						<div class="col-xs-3">
							<%= m.text_field :unit, class: "form-control", placeholder: "Unit" %>
						</div>
						<div class="col-xs-1">
							<%= m.link_to_remove raw(fa_icon "times-circle"), class: "btn-primary-bg" %>
						</div>
					</div>
				<% end %>
				<%= f.link_to_add "Add Ingredient", :measurements, class: "btn btn-xs btn-primary" %>
				<br>
				<br>
				<%= link_to "Cancel", :back, class: "btn btn-default" %>
				<%= f.submit "Save", class: "btn btn-success", data: {loading_text: "Saving..."} %>
			<% end %>
		</div>
	</div>
	<div class="col-md-4 text-center">
		<%= render 'images/imageable', resource: @recipe %>
		<br>
	</div>
</div>

