<div class="row">
	<div class="col-md-8">
		<%= search_form_for @search, remote: true do |f| %>
			<%= f.text_field :name_or_description_or_tags_name_or_ingredients_name_cont, id: "recipe-search", class: "index-search form-control input-lg", placeholder: "Search", data: {type: "recipe"} %>
			<%= hidden_field_tag :page, 1 %>
		<% end %>
	</div>
	<div class="col-md-4">
		<% if user_signed_in? %>
			<%= link_to "New Recipe", new_recipe_path, class: "btn btn-lg btn-primary btn-block" %>
		<% else %>
			<%= link_to "Signup to Create Your Own", new_user_session_path, class: "btn btn-lg btn-primary btn-block "%>
		<% end %>
	</div>
</div>
<div id="recipes" data-next="2">
	<%= render @recipes %>
</div>
