<div class="row">
	<div class="col-md-8">
		<div id="recipe" class="well">
			<p class='description'><%= @recipe.description %></p>
			<div id="recipe-image">
				<% if @recipe.image? %>
		  		<%= image_tag @recipe.image.image.url(:large), class: "hover" %>
		  	<% else %>
		    	<%= image_tag "glass.png", class: "hover" %>
		    <% end %>
			</div>
			<div class='recipe-container'>
				<%= content_tag :h4, "Ingredients", class: "ribbon" %>
				<%= render @ingredients %>
				<% unless @recipe.instructions.blank? %>
					<br>
					<%= content_tag :h4, "Instructions", class: "ribbon" unless @recipe.instructions.blank? %>
					<span><%= @recipe.instructions.html_safe %></span>
				<% end %>
			</div>
		</div>
		<%= render 'layouts/social', sociable: @recipe, head: false %>
		<div class="row">
			<div class="col-md-12">
				<br>
				<%= disqus_comments(@recipe) %>
			</div>
		</div>
	</div>
	<div class="col-md-4 hidden-xs">
		<%#= render 'ratings/rate_it' unless can?(:manage, @recipe) %>
		<%= render 'layouts/sidebar' %>
	</div>
</div>
<%= link_to material_icon('edit'), edit_recipe_path(@recipe), class: "btn btn-success btn-fab" if can?(:manage, @recipe) %>
