<h1 class="recipe"><%= @recipe.name %></h1>

<div class="row">
	<%= render @recipe %>
	<div class="col-lg-9">
		<%= render @ingredients %>
		<br>
		<% unless @recipe.instructions.blank? %>
			<div class="well instructions">
				<p><strong>Instructions</strong></p>
				<%= @recipe.instructions.html_safe %>
			</div>
		<% end %>
		<%= render 'layouts/social', sociable: @recipe %>
		<div class="row">
			<div class="col-md-7">
				<%= render 'comments/commentable', commentable: @recipe %>
			</div>
		</div>
	</div>
</div>
