<div class="row">
	<div class="col-md-4">
		<div class="recipe" id="recipe-show">
			<% if @recipe.image? %>
	  		<%= image_tag @recipe.image.image.url(:large), class: "hover" %>
	  	<% else %>
	    	<%= image_tag "smoothie.png", class: "hover" %>
	    <% end %>
	    <div class="info">
		    <%= @recipe.description %>
		  </div>
	    <% if @recipe.tags.any? %>
			  <div class="tags">
		    	<%= show_tags(@recipe) %>
		    </div>
		  <% end %>
		  <div class="user">
		  	<strong>Created by:</strong>
		  	<%= link_to @recipe.user.name, @recipe.user %>
		  </div>
		</div>
	</div>
	<br class="visible-xs">
	<div class="col-md-8">
		<div id="recipe" class="well">
			<% if can?(:manage, @recipe) %>
				<%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary btn-sm manage" %>
				<%= link_to "Delete", recipe_path(@recipe), class: "btn btn-danger btn-sm manage", method: :delete %>
			<% end %>
			<%= content_tag :h4, "Ingredients", class: "ribbon" %>
			<%= render @ingredients %>
			<% unless @recipe.instructions.blank? %>
				<br>
				<%= content_tag :h4, "Instructions", class: "ribbon" unless @recipe.instructions.blank? %>
				<span><%= @recipe.instructions.html_safe %></span>
			<% end %>
		</div>
		<%= render 'layouts/social', sociable: @recipe %>
		<div class="row">
			<div class="col-md-7">
				<%= render 'comments/commentable', commentable: @recipe %>
			</div>
		</div>
	</div>
</div>
