<%= content_tag :div, class: 'row' do %>
	<div class="col-sm-9">
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<%= f.label :symbol %>
			<%= f.text_field :symbol, class: "form-control" %>
		</div>
	</div>
<% end if user_signed_in? && current_user.admin? %>

<div class="form-group">
	<%= f.label :description %>
	<br>
	<%= f.text_area :description, id: "description", class: "form-control summernote" %>
</div>
