<%= nested_form_for @nutrient, html: {id: "nutrient-form"} do |f| %>
	<div class="row">
		<div class="col-md-8">
			<div class="well">
				<%= render 'layouts/errors', object: @nutrient if @nutrient.errors.any? %>
				<%= render 'inputs', f: f %>
				<div class='form-footer'>
					<%= link_to "Delete", "#", class: "btn btn-danger btn-sm manage delete pull-left", data: {url: nutrient_path(@nutrient), title: "Delete Nutrient", text: "Are you sure you want to delete this nutrient?"} if can?(:manage, @nutrient) %>
					<%= link_to "Cancel", :back, class: "btn btn-default" %>
					<%= f.submit "Save", class: "btn btn-success", data: {loading_text: "Saving..."} %>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<%= render 'layouts/sidebar' %>
		</div>
	</div>
<% end %>
