<div class="row">
	<div class="col-md-8">
		<%= search_form_for @search, remote: true do |f| %>
			<%= f.text_field :name_or_description_cont, id: "ingredient-search", class: "index-search form-control input-lg", placeholder: "Search", data: {type: "nutrient"} %>
			<%= hidden_field_tag :page, 1 %>
		<% end %>
		<div id="nutrients" class="well">
			<%= render @nutrients %>
		</div>
		<br>
		<%= render 'layouts/infinite', model: Nutrient, per: 12 %>
	</div>
	<div class="col-md-4">
		<%= render 'layouts/sidebar' %>
	</div>
</div>
