<div class="row">
	<div class="col-md-8">
		<div class="well nutrient">
			<%= content_tag :h4, "Info", class: "ribbon" %>
			<% if !@nutrient.description.blank? %>
				<p><%= @nutrient.description.html_safe %></p>
			<% else %>
				<br>
				<p class='alert alert-green' style='margin-bottom: 0px'>No entry for this nutrient yet. <%= user_signed_in? ? 'Tell us what you know about it!' : link_to('Sign up', new_user_registration_path )+ ' and tell us what you know about it!' %></p>
			<% end %>
		</div>
	</div>
	<div class="col-md-4">
		<%= render 'layouts/sidebar' %>
	</div>
</div>
<%= link_to material_icon('edit'), edit_nutrient_path(@nutrient), class: "btn btn-success btn-fab" if can?(:edit, @nutrient) %>
