<div class="index-header">
	<h2>
		<%= @nutrient.name %>
		<%= link_to "Edit", edit_nutrient_path(@nutrient), class: "btn btn-primary pull-right" if can? :edit, Nutrient %>
	</h2>
</div>

<div class="row">
	<div class="col-md-8">
		<p class="lead"><%= @nutrient.description.html_safe %></p>
		<% if @benefits.any? %>
			<%= content_tag :h3, "Benefits"  %>
			<% @benefits.each do |b| %>
				<blockquote>
			    <h4 class="media-heading"><%= b.name %></h4>
			    <%= b.description %>
			    <small><cite title="Citation Title"><%= link_to "View Source", b.citation.source %></cite></small>
				</blockquote>
		  <% end %>
		<% end %>
	</div>
	<div class="col-md-4 lead">
		<% if @ingredients.any? %>
			<div class="alert alert-success">
				<%= content_tag :h3, "Food Sources", style: "margin: 0px 0px 5px 0px" %>
				<ul class="list-unstyled">
					<% @ingredients.each do |i| %>
					 <%= content_tag(:li, link_to(i.name, i)) %>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>