<div class="media user-recipe">
  <a class="pull-left" href="<%= recipe.named_route %>">
  	<% if recipe.image? %>
    	<%= image_tag recipe.image.image.url(:thumb), class: "media-object" %>
    <% else %>
    	<%= image_tag "glass.png" %>
    <% end %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to recipe.name, recipe.named_route %></h4>
    <p><%= recipe.description %></p>
    <span class="ingredients"><strong>Ingredients: </strong><%= render 'recipes/ingredients', recipe: recipe %></span>
  </div>
</div>
