<div class="row">
	<div class="col-md-9">
		<%= form_for @user, html: {autocomplete: "off"} do |f| %>
			<%= f.hidden_field :image_token %>
			<div class="row">
				<div class="col-md-12">
					<div class="well">
						<%= render 'layouts/errors', object: @user if @user.errors.any? %>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<%= f.label :username %>
									<%= f.text_field :username, class: "form-control" %>
								</div>
								<div class="form-group">
									<%= f.label :email %>
									<%= f.email_field :email, class: "form-control" %>
								</div>
								<div class="form-group">
									<%= f.label :name %>
									<%= f.text_field :name, class: "form-control" %>
								</div>
								<% unless params[:signup] == "true" %>
									<div class="form-group">
										<%= f.label :password, "Change password" %>
										<%= f.password_field :password, class: "form-control" %>
									</div>
									<div class="form-group">
										<%= f.label :password_confirmation %>
										<%= f.text_field :password_confirmation, class: "form-control" %>
									</div>
								<% end %>
							</div>
							<div class="col-md-6">
								<div id="email-prefs">
									<h3>Email Preferences</h3>
									<div class="checkbox">
								    <label>
								      <%= f.check_box :email_list %> Green Smoothie Community
								    </label>
								    <p>Get email updates with the freshest ideas and info from the community.</p>
								  </div>
								</div>
								<br>
								<div class="row">
									<div class="col-md-7">
										<% unless params[:signup] == "true" %>
											<%= link_to raw("<i class='fa fa-twitter' style='font-size: 115%'></i> &nbsp;Login With Twitter"), user_omniauth_authorize_path(:twitter), class: "btn btn-twitter btn-block" unless @user.provider?("twitter") %>
											<%= link_to raw("<i class='fa fa-facebook'></i> &nbsp;Login With Facebook"), user_omniauth_authorize_path(:facebook), class: "btn btn-facebook btn-block" unless @user.provider?("facebook") %>
											<br>
										<% end %>
									</div>
								</div>
							</div>
						</div>
						<% unless @user.terms_of_service %>
							<div class="form-group">
								<%= f.check_box :terms_of_service %>
								<label for="user_terms_of_service">
									&nbsp;Agree to <%= link_to "Terms of Service", "#terms", data: {toggle: "modal"} %>
								</label>
							</div>
							<div class="modal fade" id="terms">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
						          <h3 class="modal-title">Terms of Service</h3>
						        </div>
						        <div class="modal-body">
						        	<%= render 'pages/terms_of_service' %>
								    </div>
						        <div class="modal-footer">
						          <a data-dismiss="modal" class="btn btn-default">Close</a>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
						<% end %>
						<div class='form-footer'>
							<%= link_to "Cancel", :back, class: "btn btn-default" %>
							<%= f.submit "Save", class: "btn btn-primary", data: {loading_text: "Saving..."} %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-md-3 text-center">
		<%= render 'images/imageable', resource: @user %>
		<br>
	</div>
</div>
