<div class="media ingredient" id="ingredient-<%= ingredient.id %>">
  <%= link_to '', ingredient_path(ingredient), class: 'pull-left ingredient-image', style: "background-image: url(#{media_object_url(ingredient)})" %>
  <div class="media-body">
  	<h4 class="media-heading">
  		<%= link_to ingredient.name, ingredient %>
  		<% if @recipe %>
			  <% measurement = @recipe.measurements.where(ingredient_id: ingredient.id).first %>
		  	<small>
					<%= measurement.amount %>
					<%= measurement.unit %>
		  	</small>
			<% end %>
  	</h4>
  </div>
</div>
