<div class="media ingredient" id="ingredient-<%= ingredient.id %>">
  <a class="pull-left" href="<%= ingredient_path(ingredient) %>">
    <% if ingredient.image? %>
  		<%= image_tag ingredient.image.image.url(:thumb), class: "media-object" %>
  	<% else %>
    	<%= image_tag "ingredient.png" %>
    <% end %>
  </a>
  <div class="media-body">
  	<h4 class="media-heading">
  		<%= link_to ingredient.name, ingredient %>
  		<% if @recipe %>
			  <% measurement = @recipe.measurements.where(ingredient_id: ingredient.id).first %>
		  	<small>
					<%= measurement.amount %>
					<%= measurement.unit %>
		  	</small>
			<% end %>
  	</h4>
  </div>
  <% unless @recipe %>
	  <span class="hidden-xs hidden-sm nutrients">
	  	<% ingredient.nutrients.each do |i| %>
	    	<%= link_to i.name, i, class: "nutrient" %>
	    <% end %>
	  </span>
  <% end %>
</div>