<div class="media ingredient">
  <a class="pull-left" href="<%= ingredient_path(ingredient) %>">
    <% if ingredient.image? %>
  		<%= image_tag ingredient.image.image.url(:thumb), class: "media-object img-thumbnail" %>
  	<% else %>
    	<%= fa_icon "picture-o", style: "font-size: 100px; color: #dddddd" %>
    <% end %>
  </a>
  <div class="media-body">
    	<h4 class="media-heading">
    		<%= link_to ingredient.name, ingredient %>
    		<% if @recipe %>
		    	<% measurement = @recipe.measurements.where(ingredient_id: ingredient.id).first %>
		    		<span class="pull-right badge">
			    		<%= measurement.amount %>
			    		<%= measurement.unit %>
			    	</span>
		    <% end %>
    	</h4>
    	<%= strip_tags(ingredient.description).truncate(200).html_safe %>
  </div>
</div>