<div class="media ingredient">
  <a class="pull-left" href="<%= ingredient_path(ingredient) %>">
    <% if ingredient.image? %>
  		<%= image_tag ingredient.image.image.url(:thumb), class: "media-object" %>
  	<% else %>
    	<div class="well well-sm text-center" style="width: 30px; height: 30px; padding-top: 14px; margin-bottom: 0px">
    		pic
    	</div>
    <% end %>
  </a>
  <div class="media-body">
  	<h4 class="media-heading">
  		<%= link_to ingredient.name, ingredient %>
  	</h4>
	  <span class="hidden-xs hidden-sm">
	  	<% ingredient.nutrients.each do |i| %>
	    	<%= link_to i.name, i, class: "nutrient" %>
	    <% end %>
	  </span>
  </div>
  <% if @recipe %>
	  <% measurement = @recipe.measurements.where(ingredient_id: ingredient.id).first %>
  	<div class="measurement">
			<%= measurement.amount %>
			<%= measurement.unit %>
  	</div>
	<% end %>
</div>