<div class="index-header">
	<h2><%= action_name.capitalize %> Ingredient</h2>
</div>

<div class="row">
	<div class="col-md-3 text-center">
		<%= render 'images/imageable', resource: @ingredient %>
		<br>
	</div>
	<div class="col-md-9">
		<%= nested_form_for @ingredient, html: {id: "ingredient-form"} do |f| %>
			<%= f.hidden_field :image_token %>
			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :description %>
				<%= f.text_area :description, class: "form-control", id: "description", rows: 3, placeholder: "Describe the ingredient's physcial attributes, flavor, culinary uses, etc. (add nutrients below)" %>
				<script>
					$(document).ready(function(){
				    $('#description').each(function(i, elem) {
				      $(elem).wysihtml5({'font-styles': false, 'image': false});
				    });
				  })
				</script>
			</div>
				<%= label_tag :nutrients %>
				<br>
				<% x = 1 %>
				<%= f.fields_for :citations do |c| %>
					<div class="row form-group add-ingredient">
						<div class="col-xs-5">
							<%= c.fields_for :nutrient do |n| %>
								<%= n.text_field :name, class: "form-control ingredient-input", placeholder: "Name", value: (@citations[x-1].nutrient.name unless x > @citations.count || @citations[x-1].nutrient.nil?) %>
							<% end %>
							<% x += 1 %>
							<%= c.hidden_field :nutrient_id %>
						</div>
						<div class="col-xs-5">
							<%= c.text_field :source, class: "form-control", placeholder: "Source" %>
						</div>
						<div class="col-xs-1">
							<%= c.link_to_remove raw(fa_icon "times-circle"), class: "btn-primary-bg" %>
						</div>
					</div>
				<% end %>
				<%= f.link_to_add "Add Nutrient", :citations, class: "btn btn-xs btn-primary" %>
			<br>
			<br>
			<%= link_to "Cancel", :back, class: "btn btn-default" %>
			<%= f.submit "Save", class: "btn btn-success" %>
		</div>
	<% end %>
</div>