<div class="row">
	<div class="col-md-8">
		<div class="well">
			<%= render 'layouts/errors', object: @ingredient if @ingredient.errors.any? %>
			<%= nested_form_for @ingredient, html: {id: "ingredient-form"} do |f| %>
				<%= f.hidden_field :image_token %>
				<div class="form-group">
					<%= f.label :name %>
					<%= f.text_field :name, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :description %>
					<br>
					<%= f.text_area :description, id: "description", class: "form-control summernote" %>
				</div>
				<div class='alert alert-green alert-sm'>
					<p><strong>USDA Reference:</strong> <span class='label label-success'><%= @ingredient.usda_name.blank? ? 'None' : @ingredient.usda_name %></span></p>
					<br>
					Nutrition information is obtained from the U.S. Department of Agriculture's (USDA) National Nutrient Database for Standard Reference.
					If the USDA reference above doesn't look right for this ingredient, or if there is none, visit the <%= link_to "USDA website", "http://ndb.nal.usda.gov/ndb/foods", class: 'label label-warning', target: '_blank' %> and search for the correct food.
					Once you've navigated to the correct food, copy and paste the url into the field below, then Green Smoothie will automatically retrieve the nutrition information.
					<br>
					<br>
					<div class="form-group">
						<%= f.label :source_url, "USDA Source URL" %>
						<%= f.text_field :source_url, class: "form-control input-sm" %>
					</div>
				</div>
				<div class='form-footer'>
					<%= render 'images/mobile', resource: @ingredient %>
					<%= link_to "Cancel", :back, class: "btn btn-default" %>
					<%= f.submit "Save", class: "btn btn-success", data: {loading_text: "Saving..."} %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-md-4 text-center">
		<%= render 'images/imageable', resource: @ingredient %>
		<br>
	</div>
</div>
