<div class="index-header">
	<h2>Ingredients</h2>
</div>

<div class="row">
	<div class="col-md-8">
		<%= search_form_for @search, remote: true do |f| %>
			<%= f.text_field :name_or_description_or_nutrients_name_cont, id: "ingredient-search", class: "index-search form-control input-lg", placeholder: "Search"%>
		<% end %>
	</div>
	<div class="col-md-4">
		<% if user_signed_in? %>
			<%= link_to "New Ingredient", new_ingredient_path, class: "btn btn-lg btn-primary btn-block" %>
		<% else %>
			<%= link_to "Signup and Contribute to the Database", new_user_session_path, class: "btn btn-lg btn-primary btn-block "%>
		<% end %>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-8" id="ingredients">
		<%= render @ingredients %>
	</div>
</div>

