<div class="row">
	<div class="col-md-4 visible-xs">
		<% if @ingredient.image? %>
			<%= image_tag @ingredient.image.image.url(:medium), class: "shadow", style: "width: 100%" %>
		<% else %>
			<%= image_tag 'ingredient.png', style: "width: 100%; opacity: .5" %>
		<% end %>
		<br>
		<br>
	</div>
	<div class="col-md-8">
		<div class="well">
			<%= link_to "Edit", edit_ingredient_path(@ingredient), class: "btn btn-primary btn-sm manage" if can? :edit, @ingredient %>
			<%= link_to "Delete", "#", class: "btn btn-danger btn-sm manage delete", data: {url: ingredient_path(@ingredient), text: "Are you sure you want to delete this ingredient?", title: "Delete Ingredient"} if can? :manage, @ingredient %>
			<h4 class="ribbon">Description</h4>
			<% if !@ingredient.description.blank? %>
				<p><%= @ingredient.description.html_safe %></p>
			<% else %>
				<br>
				<p class='alert alert-info' style='margin-bottom: 0px'>No entry for this ingredient yet. <%= user_signed_in? ? 'Tell us what you know about it!' : link_to('Sign up', new_user_registration_path )+ ' and tell us what you know about it!' %></p>
			<% end %>
			<br>
			<% if @ingredient.nutrients.any? %>
				<%= content_tag :h4, "Nutrition", class: "ribbon" %>
				<div class='row'>
					<div class='col-sm-4'>
						<%= render 'vitamins' %>
					</div>
					<div class='col-sm-4'>
						<%= render 'minerals' %>
					</div>
					<div class='col-sm-4'>
						<%= render 'macronutrients' %>
					</div>
				</div>
				<p class='ingredient-source'>
					<span class='label label-success'>Serving Size: <%= @ingredient.serving_size %></span><br>
					<%= link_to "Source: USDA - #{@ingredient.usda_name}", @ingredient.source_url, target: "_blank", style: 'font-size: 75%' %>
				</p>
			<% end %>
		</div>
		<%= render 'layouts/social', sociable: @ingredient, head: false %>
		<div class="row">
			<div class="col-md-7">
				<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
(function () {
    var articleId = fyre.conv.load.makeArticleId(null);
    fyre.conv.load({}, [{
        el: 'livefyre-comments',
        network: "livefyre.com",
        siteId: "360774",
        articleId: articleId,
        signed: false,
        collectionMeta: {
            articleId: articleId,
            url: fyre.conv.load.makeCollectionUrl(),
        }
    }], function() {});
}());
</script>
<!-- END: Livefyre Embed -->
			</div>
		</div>
	</div>
	<div class="col-md-4 hidden-xs">
		<% if @ingredient.image? %>
			<%= image_tag @ingredient.image.image.url(:medium), class: "shadow", style: "width: 100%" %>
		<% else %>
			<%= image_tag 'ingredient.png', style: "width: 100%; opacity: .5" %>
		<% end %>
		<br>
		<br>
	</div>
</div>
