<div class="row">
	<div class="col-md-3">
		<% if @ingredient.image? %>
			<%= image_tag @ingredient.image.image.url(:medium), class: "shadow", style: "width: 100%" %>
		<% else %>
			<%= image_tag 'ingredient.png', style: "width: 100%; opacity: .1" %>
		<% end %>
		<br>
		<br>
	</div>
	<div class="col-md-9">
		<div class="well">
			<%= link_to "Edit", edit_ingredient_path(@ingredient), class: "btn btn-primary btn-sm manage" if can? :edit, @ingredient %>
			<%= link_to "Delete", ingredient_path(@ingredient), class: "btn btn-danger btn-sm manage", method: :delete if can? :manage, @ingredient %>
			<h4 class="ribbon">Description</h4>
			<p><%= @ingredient.description.html_safe %></p>
			<br>
			<%= content_tag :strong, "Nutrients:" if @nutrients.any? %>
			<% @nutrients.each do |nutrient| %>
				<%= link_to nutrient.name, nutrient %><%= ', ' unless nutrient == @nutrients.last %>
			<% end %>
		</div>
	</div>
</div>

