<div class="index-header">
	<h2>
		<%= @ingredient.name %>
		<%= link_to "Edit", edit_ingredient_path(@ingredient), class: "btn btn-primary pull-right" if can? :edit, Ingredient %>
		<%= link_to "Delete", ingredient_path(@ingredient), class: "btn btn-danger pull-right", method: :delete if can? :destroy, Ingredient %>
	</h2>
</div>

<div class="row">
	<div class="col-md-3">
		<% if @ingredient.image? %>
			<%= image_tag @ingredient.image.image.url(:medium), class: "img-thumbnail", style: "width: 100%" %>
		<% else %>
			<%= image_tag 'ingredient.png', style: "width: 100%; opacity: .1" %>
		<% end %>
	</div>
	<div class="col-md-9">
		<p class="lead"><%= @ingredient.description.html_safe %></p>
		<%= raw("<h3>Nutrients</h3>") if @nutrients.any? %>
		<%= render @nutrients %>
	</div>
</div>

