<div class="row">
	<div class="col-md-8">
		<div class="well" id='ingredient'>
			<% if @ingredient.image? %>
				<%= image_tag @ingredient.image.image.url(:medium) %>
			<% else %>
				<%= image_tag 'ingredient.png', style: "width: 100%; opacity: .5" %>
			<% end %>
			<div class='ingredient-container'>
				<h4 class="ribbon">About <%= @ingredient.name %></h4>
				<% if !@ingredient.description.blank? %>
					<p><%= @ingredient.description.html_safe %></p>
				<% else %>
					<br>
					<p class='alert alert-green' style='margin-bottom: 0px'>No entry for this ingredient yet. <%= user_signed_in? ? 'Tell us what you know about it!' : link_to('Sign up', new_user_registration_path )+ ' and tell us what you know about it!' %></p>
				<% end %>
				<br>
				<% if @ingredient.nutrients.any? %>
					<%= content_tag :h4, "Nutrition", class: "ribbon" %>
					<div class='row'>
						<div class='col-sm-4'>
							<%= render 'vitamins' %>
						</div>
						<div class='col-sm-4'>
							<%= render 'minerals' %>
						</div>
						<div class='col-sm-4'>
							<%= render 'macronutrients' %>
						</div>
					</div>
					<p class='ingredient-source'>
						<span class='label label-success'>Serving Size: <%= @ingredient.serving_size %></span><br>
						<%= link_to "Source: USDA - #{@ingredient.usda_name}", @ingredient.source_url, target: "_blank", style: 'font-size: 75%' %>
					</p>
				<% end %>
			</div>
		</div>
		<%= render 'layouts/social', sociable: @ingredient, head: false %>
		<div class="row">
			<div class="col-md-12">
				<br>
				<%= disqus_comments(@ingredient) %>
			</div>
		</div>
	</div>
	<div class="col-md-4 hidden-xs">
		<%= render 'layouts/sidebar' %>
	</div>
</div>
<%= link_to material_icon('edit'), edit_ingredient_path(@ingredient), class: "btn btn-success btn-fab" if can?(:edit, @ingredient) %>
