<div class="row">
	<div class="col-md-3">
		<% if @ingredient.image? %>
			<%= image_tag @ingredient.image.image.url(:medium), class: "img-thumbnail", style: "width: 100%" %>
		<% else %>
			<%= image_tag 'ingredient.png', style: "width: 100%; opacity: .1" %>
		<% end %>
	</div>
	<div class="col-md-9">
		<p class="lead"><%= @ingredient.description.html_safe %></p>
		<%= raw("<h3>Nutrients</h3>") if @nutrients.any? %>
		<%= render @nutrients %>
	</div>
</div>

