<div class="rating">
	<% if !user_signed_in? || current_user.has_rated?(@recipe) %>
		<%= render 'ratings/rating', recipe: @recipe %>
	<% else %>
		<%= form_for [@recipe, Rating.new], remote: true do |f| %>
			<% i = 1 %>
			<% taste = ["", "Yuck", "Could be better", "Okay", "Pretty good", "Loved it"] %>
			<% 5.times do %>
				<%= fa_icon "leaf", class: "grey rate", data: {rating: i, taste: taste[i]} %>
				<% i += 1 %>
				<%= f.hidden_field :rating, value: 4 %>
				<%= f.hidden_field :user_id, value: current_user.id %>
				<%= f.hidden_field :recipe_id, value: @recipe.id %>
				<%= f.submit "save", class: "hide", id: "submit-rating"  %>
			<% end %>
		<% end %>
		<div class="taste">How'd it taste?&nbsp;</div>
	<% end %>
</div>
