<div class="jumbotron" style="padding: 10px 0px" id="home">
	<br>
	<h1>Green Smoothie Recipes, Tips & Nutrition</h1>
	<br>
</div>

<div id="overlay">
	<div class="container">
		<div class="row">
			<div class="col-md-4 hidden-lg hidden-md" data-no-turbolink style='padding: 30px 30px 15px 30px'>
				<p class="lead text-center" style='font-size: 20px'>The best place to find, create, and share everything green smoothie.</p>
				<%= link_to "Find Recipes", recipes_path, class: "btn btn-primary btn-hg btn-block" %>
				<br>
				<br>
				<p class='text-center' id='mobile-footer'>
					<%= link_to "Terms", terms_path %> | <%= link_to "Privacy", privacy_path %> | <%= link_to "Contact", contact_path %> | <a href="https://plus.google.com/+GreensmoothieMe" rel="publisher">Google+</a> | <%= link_to "Facebook", "https://www.facebook.com/greensmoothie.me", target: '_blank' %> | <%= link_to "Twitter", "https://twitter.com/greensmoother", target: 'blank' %>
				</p>
			</div>
			<table id='mission-table' class='hidden-sm hidden-xs'>
				<tr>
					<td>
						<div id="mission">
							<p class="lead">The best place to find, create, and share everything green smoothie.</p>
						</div>
					</td>
					<td data-no-turbolink>
						<%= link_to "Find Recipes", recipes_path, class: "btn btn-primary btn-hg btn-block", style: "margin-top: 10px" %>
					</td>
				<tr>
			</table>
		</div>
	</div>
</div>
