<% name = "Green Smoothie Tools" %>
<% summary = "Every smoothie maker needs a few tools to get started. Some can be expensive, but you can get by just fine with the cheaper options." %>
<% image = image_path("tools.jpg") %>
<%= render 'layouts/share', name: name, summary: summary, image: image, head: true %>
<br>
<div class="row">
	<div class="col-md-8">
		<div class="well">
			<p class="lead">Every smoothie maker needs a few tools to get started. Some can be expensive, but you can get by just fine with the cheaper options.</p>
			<%= image_tag "tools.jpg", style: "width: 100%" %>
			<br>
			<br>
			<h4 class="ribbon">Blender</h4>
			<p>Your blender is the most important tool, by far. It's also going to be the most expensive. But of all the expensive appliances out there, I would say that a high quality blender is definitely one of the most worthwhile. You can make soups, desserts, grind your own wheat, and tons more with a good blender. Totally worth it.</p>
			<strong>So what's the best blender?</strong>
			<p>The two most popular high-end blenders out there are the <strong>Vitamix</strong> and the <strong>Blendtec</strong>. They're pretty comparable for the most part. I won't bother with a detailed analysis because at the end of the day, they're both awesome, and you probably can't go wrong with either one. I use a Vitamix, and I absolutely love it.</p>
			<p>If you want a more in depth comparison, you could just Google it, but I generally find Amazon reviews to be extremely helpful. Check them out below to see what reviewers have to say:</p>
			<div class="row blenders">
				<div class="col-md-6">
					<h4>Vitamix</h4>
					<%= image_tag "vitamix.jpg" %>
				</div>
				<div class="col-md-6">
					<h4>Blendtec</h4>
					<%= image_tag "blendtec.jpg" %>
				</div>
			</div>
			<br>
			<strong>Less Expensive Blenders</strong>
			<p>If you're not ready to invest in a commercial grade blender, your best bet is probably something like the <strong>Ninja</strong> or the <strong>KitchenAid</strong>. I don't personally have any experience with these blenders, so I can't definitively recommend them, but they are generally regarded as good quality and reliable. Again, the Amazon reviews are a good indicator:</p>
			<div class="row blenders">
				<div class="col-md-6">
					<h4>Ninja</h4>
					<%= image_tag "ninja.jpg" %>
				</div>
				<div class="col-md-6">
					<h4>KitchenAid</h4>
					<%= image_tag "kitchenaid.jpg" %>
				</div>
			</div>
			<br>
			<h4 class="ribbon">Mixing Pitcher</h4>
			<div class="row">
				<div class="col-md-12">
					<p>Sometimes you may want to make a large batch of green smoothie that lasts for a couple days. But you'll notice that if you let your smoothie sit for even just a few minutes, it will start to separate. The pulp floats on top of the heavier liquid, so you have to mix it before pouring.</p>
					<p>This may seem like a minor problem that can be solved by just stirring it with a spoon, but I find it quite handy to use a mixing pitcher. Nothing fancy. It's just cheap and convenient. Here's a few you could consider:</p>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<%= image_tag "http://ecx.images-amazon.com/images/I/21uxIiCsW3L._AA160_.jpg" %>
				</div>
				<div class="col-md-4">
					<%= image_tag "http://ecx.images-amazon.com/images/I/31Tmt6bz61L._AA160_.jpg" %>
				</div>
				<div class="col-md-4">
					<%= image_tag "http://ecx.images-amazon.com/images/I/41ieouZvwZL._AA160_.jpg" %>
				</div>
			</div>
			<br>
			<h4 class="ribbon">To-Go Bottles</h4>
			<p>I got myself a nice sealable container for taking my green smoothies on the go. There's tons of options here, but I like to use a wide mouth Nalgene bottle. Nalgene bottles are sturdy (I've had mine for years), reusable, and easy to wash. Plus they are awesome for hiking and other outdoor activies. I would avoid containers with straws because they're just a pain in the butt to clean. So you might check these ones out:</p>
			<div class="row text-center">
				<div class="col-md-4">
					<%= image_tag "blue-nalgene.jpg" %>
				</div>
				<div class="col-md-4">
					<%= image_tag "pink-nalgene.jpg" %>
				</div>
				<div class="col-md-4">
					<%= image_tag "green-nalgene.jpg" %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<%= render 'layouts/sidebar' %>
	</div>
</div>
<%= render 'layouts/share', name: name, summary: summary, image: image, head: false %>