<div class="row">
	<div class="col-md-3 text-center">
		<%= render 'images/imageable', resource: @post %>
	</div>
	<div class="col-md-9">
		<div class="well">
			<%= form_for @post do |f| %>
				<%= render 'layouts/errors', object: @post if @post.errors.any? %>
				<!--
				<div class="row">
					<div class="col-md-12">
						<%= render 'tags/tag_list', taggable: @post %>
					</div>
				</div>
				-->
				<div class="row">
					<div class="col-md-12">
						<%= f.label :name %>
						<%= f.text_field :name, class: "form-control" %>
					</div>
					<!--
					<div class="col-md-6">
						<%= render 'tags/tag_form', taggable: @post %>
					</div>
					-->
				</div>
				<br>
				<%= f.label :abstract %>
				<%= f.text_area :abstract, class: "form-control", rows: 3 %>
				<br>
				<%= f.cktext_area :body %>
				<br>
				<%= link_to "Cancel", :back, class: "btn btn-default" %>
				<%= f.submit "Save", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
<br>
