<div class="row">
	<div class="col-md-8">
		<%= search_form_for @search, remote: true do |f| %>
			<%= f.text_field :name_or_body_or_abstract_cont, id: "post-search", class: "index-search form-control input-lg", placeholder: "Search", data: {type: "post"} %>
			<%= hidden_field_tag :page, 1 %>
			<br>
		<% end unless request.fullpath.include?('unpublished') %>
		<div id="posts">
			<% @posts.each do |post| %>
				<%= render 'posts/post', post: post %>
			<% end %>
		</div>
		<br>
		<%= render 'layouts/infinite', model: Post, per: 12 %>
	</div>
	<div class="col-md-4 hidden-md">
		<%= render 'layouts/sidebar' %>
	</div>
</div>
<% if can?(:manage, Post) %>
	<%= link_to material_icon('plus'), new_post_path, class: "btn btn-success btn-fab", data: { toggle: 'tooltip', title: 'New Post', placement: 'left' } %>
	<%= link_to material_icon('collection-text'), unpublished_posts_path, class: 'btn btn-info btn-fab',
		data: { toggle: 'tooltip', title: 'Unpublished', placement: 'left' }, style: 'bottom: 100px' unless request.fullpath.include?('unpublished') %>
<% end %>
