<div class="row">
	<div class="col-md-8">
		<%= search_form_for @search, remote: true do |f| %>
			<%= f.text_field :name_or_body_or_abstract_cont, id: "post-search", class: "index-search form-control input-lg", placeholder: "Search", data: {type: "post"} %>
			<%= hidden_field_tag :page, 1 %>
		<% end %>
		<br>
		<div id="posts">
			<%= render @posts %>
		</div>
		<br>
		<%= render 'layouts/infinite', model: Post, per: 12 %>
	</div>
	<div class="col-md-4">
		<%= link_to "New Post", new_post_path, class: "btn btn-primary btn-lg btn-block", style: "margin-bottom: 10px" if can? :manage, Post %>
		<%= render 'layouts/sidebar' %>
	</div>
</div>
