<%= content_tag(:div, nil, id: 'post-image-url', data: { url: guaranteed_image_path(@post, :original) }) %>
<div class='post-container'>
	<h1 id='post-h1'>
		<div class='container'>
			<%= title %>
		</div>
	</h1>
	<div class='container'>
		<div class="row">
			<div class='col-lg-7'>
				<div id="post">
					<br>
					<br>
					<%= render 'layouts/social', sociable: @post, head: false %>
					<br>
					<%= content_tag(:h2, @post.headline, id: 'post-headline') unless @post.headline.blank? %>
					<%= @post.body.html_safe %>
					<%= render 'layouts/social', sociable: @post, head: false %>
					<br>
					<%= disqus_comments(@post) if request.fullpath.include?('/blog') %>
					<br>
					<br>
				</div>
			</div>
			<div class='col-lg-4 col-lg-offset-1'>
				<br>
				<br>
				<%= render 'layouts/sidebar' %>
			</div>
		</div>
	</div>
</div>
<%= link_to material_icon('edit'), edit_post_path(@post.presentable), class: "btn btn-success btn-fab" if can?(:manage, @post) %>
