<div class="index-header">
	<h2>
		<%= @post.name %>
		<%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-primary pull-right" if can? :manage, @post %>
	</h2>
</div>
<div class="row">
	<div class="col-md-9">
		<%= @post.body.html_safe %>
	</div>
	<div class="col-md-3">
		<%= image_tag @post.image.image.url(:large), class: "img-thumbnail", style: "width: 100%" if @post.image? %>
	</div>
</div>
<%= render 'layouts/social', resource: @post %>
<%= render 'comments/commentable', resource: @post %>
