<div class="row">
	<div class="col-md-8">
		<div class="well">
			<%= @post.body.html_safe %>
		</div>
	</div>
	<div class="col-md-4">
		<%= image_tag @post.image.image.url(:large), style: "width: 100%" if @post.image? %>
		<div style="padding-top: 5px">
			<%= show_tags(@post) %>
		</div>
		<br>
		<%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-primary btn-lg btn-block" if can? :manage, @post %>
	</div>
</div>
<%= render 'layouts/social', sociable: @post %>
<div class="row">
	<div class="col-md-6">
		<%= render 'comments/commentable', commentable: @post %>
	</div>
</div>
