<%= form_for @image, remote: true do |f| %>
	<div class="modal fade" id="image-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-sign"></i></button>
          <h3 class="modal-title">Crop Image</h3>
        </div>
        <div class="modal-body">
        	<%= image_tag @image.image.url(:large), id: "cropbox", style: "text-align: center" %>
					<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
				    <%= f.hidden_field attribute, id: attribute %>
				  <% end %>
		    </div>
        <div class="modal-footer">
          <a data-dismiss="modal" class="btn btn-default">Don't Crop</a>
          <%= f.submit 'Crop', class: 'btn btn-primary', data: {loading_text: "Cropping..."} %>
          <%= f.hidden_field :imageable_id %>
					<%= f.hidden_field :imageable_type %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>

<script>
	if (!App.mobile()) {
		$(function() {
		  $('#cropbox').Jcrop({
		    onChange: update_crop,
		    onSelect: update_crop,
		    setSelect: [0, 0, 500, 500],
		    aspectRatio: 1
		  });
		});

		function update_crop(coords) {
		  var rx = 100/coords.w;
		  var ry = 100/coords.h;
		  $('#preview').css({
		    width: Math.round(rx * <%= @image.image_geometry(:large).width %>) + 'px',
		    height: Math.round(ry * <%= @image.image_geometry(:large).height %>) + 'px',
		    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
		    marginTop: '-' + Math.round(ry * coords.y) + 'px'
		  });
		  var ratio = <%= @image.image_geometry(:original).width %> / <%= @image.image_geometry(:large).width %>;
		  $("#crop_x").val(Math.round(coords.x * ratio));
		  $("#crop_y").val(Math.round(coords.y * ratio));
		  $("#crop_w").val(Math.round(coords.w * ratio));
		  $("#crop_h").val(Math.round(coords.h * ratio));
		}
	}
</script>
