<div id="sidr" class="sidr left">
  <ul>
    <li class='drawer-header'><%= link_to "<h5>#{fa_icon "leaf"}&nbsp;Green Smoothie</h5>".html_safe, root_path %></li>
    <li><%= link_to "About Green Smoothies", about_path %></li>
    <li><%= link_to "Green Smoothie Basics", basics_path %></li>
    <li><%= link_to "Green Smoothie Tools", tools_path %></li>
    <li><%= link_to "Find Recipes", recipes_path %></li>
    <li><%= link_to "Ingredients", ingredients_path %></li>
    <li><%= link_to "Nutrition", nutrients_path %></li>
    <li><%= link_to "Blog", blog_path %></li>
    <% if user_signed_in? %>
      <%= content_tag :li, link_to("My Recipes", user_path(current_user)) %>
      <li><%= link_to "Edit Account", edit_user_path(current_user) %></li>
      <li><%= link_to "Signout", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <%= content_tag :li, link_to("Sign Up", new_user_registration_path) %>
    <% end %>
  </ul>
</div>
