<footer class='hidden-xs'>
	<%= link_to "Terms", terms_path %> | <%= link_to "Privacy", privacy_path %> | <%= link_to "Contact", contact_path %> | <a href="https://plus.google.com/+GreensmoothieMe" rel="publisher" target="_blank">Google+</a> | <%= link_to "Facebook", "https://www.facebook.com/greensmoothie.me", target: '_blank' %> | <%= link_to "Twitter", "https://twitter.com/greensmoother", target: 'blank' %>
</footer>
