<% summary = sociable.class.name == "Post" ? sociable.abstract : sociable.description %>
<% image = sociable.image.image.url(:medium) if sociable.image? %>
<% name = sociable.name %>
<% url = request.url %>
<div id="social">
	<%= link_to fa_icon("pinterest") + "Pin", "#pi", class: "pinterest share", data: {url: url, desc: name, media: image, summary: summary} %>
	<%= link_to fa_icon("facebook") + "Share", "#fb", class: "facebook share", data: {url: url, media: image, title: name, summary: summary} %>
	<%= link_to fa_icon("twitter") + "Tweet", "#tw", class: "twitter share", data: {url: url, desc: name} %>
	<%= link_to fa_icon("google-plus") + "+1", "#go", class: "google share", data: {url: url} %>
</div>

<%= content_for :head do %>
	<meta property="og:title" content="<%= sociable.name %>" />
	<meta property="og:description" content="<%= summary %>" />
	<meta property="og:image" content="<%= image %>" />
	<meta itemprop="name" content="<%= name %>">
	<meta itemprop="description" content="<%= summary %>">
	<meta itemprop="image" content="<%= image %>">
<% end %>