<!DOCTYPE html>
<html lang="en">
	<head>
	  <title><%= title %></title>
	  <style>
	  	<%= yield :styles %>
	  </style>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
	  <%= csrf_meta_tags %>
	  <link rel="shortcut icon" href="<%= asset_path 'favicon.png' %>" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="p:domain_verify" content="fbdecc7dab85a7d24b7b89c5dabacef9"/>
	  <script>
	  	<%= yield :javascripts %>
	  	<%= render 'layouts/flasher', flash: flash %>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-50787608-1', 'greensmoothie.me');
			ga('send', 'pageview');
	  </script>
	  <%= yield :head %>
	</head>
	<body>
		<%= render 'layouts/nav' %>
		<div class="container">
			<% unless action_name == 'home' || controller_name == 'sessions' || (action_name == "new" && controller_name == "registrations") %>
				<h1>
					<%= @title %>
				</h1>
			<% end %>
			<%= yield %>
		</div>
		<div id="modal-holder"></div>
		<%= render 'layouts/delete' if @delete == true %>
		<%= render 'layouts/footer' if action_name == "home" %>
	</body>
</html>
