<!DOCTYPE html>
<html lang="en">
	<head>
	  <title><%= title %></title>
	  <style>
	  	<%= yield :styles %>
	  </style>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
	  <%= csrf_meta_tags %>
	  <link rel="shortcut icon" href="<%= asset_path 'favicon.png' %>" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="p:domain_verify" content="fbdecc7dab85a7d24b7b89c5dabacef9"/>
	  <%= yield :head %>
	</head>
	<body>
		<%= render 'layouts/nav' %>
		<div class="container">
			<% unless action_name == 'home' || controller_name == 'sessions' || (action_name == "new" && controller_name == "registrations") %>
				<h1>
					<%= @title %>
				</h1>
			<% end %>
			<%= yield %>
		</div>
		<div id="modal-holder"></div>
		<%= render 'layouts/delete' %>
		<%= render 'layouts/footer' if action_name == "home" %>
		<%= render 'layouts/drawer' %>
	</body>
</html>
